[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
dill = "==0.3.1.1"
pytask-io = "==0.0.4"
redis = "==4.4.4"

[requires]
python_version = "3.7"
